* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serfif;
  color: #212121;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 60px 0;
  margin: 0 auto;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.list {
  list-style-type: none;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 1200px) {
  .list {
    flex-wrap: nowrap;
  }
  .section {
    padding: 94px 0;
  }
}
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  padding: 16px 0;
}
.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__menu-contact {
  display: flex;
  gap: 30px;
  fill: currentColor;
}
.header__menu-contact-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  gap: 10px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__menu-contact-item:hover, .header__menu-contact-item:focus {
  color: #2196f3;
}
.header__menu {
  list-style: none;
  display: flex;
}
.header__menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__menu-link:hover, .header__menu-link:focus {
  color: #2196f3;
}
.header__menu-link--active {
  position: relative;
  color: #2196f3;
}
.header__menu-link--active::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  top: 43.5px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding: 26px 0;
  }
  .header__menu {
    margin-left: 83px;
    gap: 60px;
  }
  .header__menu-contact {
    flex-direction: column;
    gap: 10px;
  }
  .header__menu-contact-item {
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 24.54px 0 23.53px;
  }
  .header__menu {
    margin-left: 93px;
    gap: 46px;
  }
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #000000;
}
.logo__highlight {
  color: #2196f3;
}
.logo__color {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
  padding: 118px 0;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_underlay_480.jpg");
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 365px;
  margin: 0 auto;
}
.hero__button {
  padding: 10px 41px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_underlay_480@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_underlay_768.jpg");
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_underlay_768@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_underlay.jpg");
  }
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero_underlay@2x.jpg");
  }
}
.footer__button, .filter__button:hover, .filter__button:focus, .filter__button, .modal__button, .hero__button {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border-style: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 768px) {
  .header__menu,
  .header__menu-contact {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu__toggle {
    display: none;
  }
}
.menu__toggle {
  outline: none;
  border: none;
  background: none;
}

.menu__container {
  height: 100vh;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.18;
}

.mobile__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 999;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.mobile__menu.is-open {
  transform: translateX(0);
}
.mobile__menu-button {
  fill: #212121;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__menu-button:hover {
  fill: #2196f3;
}
.mobile__menu .menu__toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #ffffff;
}
.mobile__menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 36px;
}
.mobile__menu-item {
  margin-bottom: 32px;
}
.mobile__menu-item:last-child {
  margin-bottom: 0;
}
.mobile__menu-link {
  font-size: 40px;
  color: #000000;
  text-decoration: none;
}
.mobile__menu-link:hover {
  color: #2196f3;
}
.mobile__menu-address {
  display: flex;
  flex-direction: column;
}
.mobile__menu-phone {
  font-size: 34px;
  color: #2196f3;
  text-decoration: none;
  margin-bottom: 32px;
}
.mobile__menu-mail {
  font-size: 24px;
  color: #757575;
  text-decoration: none;
  margin-bottom: 64px;
}
.mobile__menu-social {
  list-style: none;
}
.mobile__menu-social-item {
  display: inline-block;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
}
.mobile__menu-social-item:last-child {
  border: none;
}
.mobile__menu-social-link {
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
  text-decoration: none;
}

.backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition-delay: 500ms;
}

.modal {
  position: absolute;
  width: calc(100vw - 30px);
  max-width: 450px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.25);
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: flex-end;
  border-radius: 50%;
  padding: 5px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal__title {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal__form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 4px;
}
.modal__form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 41px;
}
.modal__form-input:hover, .modal__form-input:focus {
  border-color: #2196f3;
  outline: none;
}
.modal__form-svg {
  position: absolute;
  top: 28px;
  left: 14px;
}
.modal__form-item:hover, .modal__form-item:focus-within {
  fill: #2196f3;
}
.modal__form-comment {
  padding: 12px 16px;
  min-height: 120px;
}
.modal__form-comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__form-checkbox {
  margin-top: 10px;
}
.modal__form-regulations {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  display: block;
  position: relative;
}
.modal__form-regulations-text {
  padding-left: 24px;
}
.modal__form-regulations input[type=checkbox] {
  background-color: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  position: absolute;
  transform: translateY(-50%);
}
.modal__form-checkbox-svg {
  position: absolute;
  transform: translateY(-50%);
  opacity: 0;
  background-color: #2196f3;
  border-radius: 2px;
}
.modal__form-regulations input[type=checkbox]:checked + .modal__form-checkbox-svg {
  opacity: 1;
}
.modal__form-regulations-link {
  color: #2196f3;
}
.modal__button {
  padding: 10px 76px;
  margin: 20px auto 0;
  display: block;
}
.modal__button:hover {
  background-color: #188ce8;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
  .modal__title {
    line-height: 1.15;
  }
  .modal__form-regulations {
    font-size: 14px;
    line-height: 1.71;
  }
  .modal__form-regulations-text {
    padding-left: 39px;
  }
  .modal__form-regulations input[type=checkbox] {
    left: 15px;
  }
  .modal__form-checkbox-svg {
    left: 15px;
  }
}
@media screen and (min-width: 473px) {
  .modal__form-checkbox-svg {
    top: 50%;
  }
  .modal__form-regulations input[type=checkbox] {
    top: 50%;
  }
}
.trumps {
  padding-bottom: 0;
}
.trumps__box {
  padding: 25px 100px;
  background-color: #f5f4fa;
  border-radius: 4px;
  text-align: center;
}
.trumps__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.trumps__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--support-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .trumps__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .trumps__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .trumps__title {
    text-align: left;
  }
}
.works {
  display: none;
}

.works__item {
  position: relative;
}
.works__item_ > img {
  display: block;
}

.works__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px;
}

@media screen and (min-width: 1200px) {
  .works {
    display: block;
  }
}
.team {
  background: #f5f4fa;
}
.team__card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__card > img {
  border-radius: 0px;
}
.team__description {
  padding: 30px 0;
}
.team__description-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.team__description-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-icons__link {
  display: block;
  border-radius: 50%;
  padding: 12px;
  height: 44px;
}
.social-icons__link:hover, .social-icons__link:focus {
  background-color: #2196f3;
}
.social-icons__link--team {
  fill: #afb1b8;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__link--team:hover, .social-icons__link--team:focus {
  fill: #ffffff;
}
.social-icons__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.customers__list-link {
  display: block;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  fill: #afb1b8;
  text-align: center;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__list-link:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

.customers__box {
  flex-basis: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers__box {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .customers__list {
    flex-wrap: nowrap;
  }
}
.filter {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter__button {
  box-shadow: none;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  margin-right: 8px;
}
.filter__button:hover, .filter__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.project__box {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project__overlay {
  position: relative;
  overflow: hidden;
}
.project__overlay > img {
  display: block;
}
.project__overlay-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  transition-property: transform;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project__overlay-card-text {
  font-style: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 0 24px;
}
.project__box:hover .project__overlay-card {
  transform: translateY(0);
}
.project__box:hover, .project__box:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.project__description-title {
  font-style: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 20px 24px 4px;
}
.project__description-text {
  font-style: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0 24px 20px;
}

.footer {
  background-color: #2f303a;
}
.footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 70px;
  padding: 60px 15px;
}
.footer__address {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 9px;
}
.footer__address-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address-link:hover, .footer__address-link:focus {
  color: #2196f3;
}
.footer__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 12px;
  margin-bottom: 20px;
}
.footer__newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.footer__newsletter-text {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  outline: none;
  width: calc(100vw - 30px);
  max-width: 450px;
  padding: 14px 0 14px 15px;
}
.footer__newsletter-text::-moz-placeholder {
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__newsletter-text::placeholder {
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 10px 28px 10px 42px;
  max-width: 250px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__box {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .footer__newsletter {
    align-items: center;
  }
  .footer__newsletter-text {
    width: 450px;
  }
  .footer__button {
    max-width: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    flex-direction: row;
    text-align: left;
  }
  .footer__address-link--underline {
    text-decoration: underline;
  }
  .footer__newsletter {
    flex-direction: row;
  }
  .footer__newsletter-text {
    width: 358px;
  }
}/*# sourceMappingURL=main.css.map */