// Nasi klienci
.customers__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  &-link {
    display: block;
    border: 1px solid $customersIcon;
    border-radius: 4px;
    padding: 16px 32px;
    fill: $customersIcon;
    text-align: center;

    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-link:hover {
    fill: $highlightColor;
    border-color: $highlightColor;
  }
}
.customers__box {
  flex-basis: calc((100% - 60px) / 2);
}

// TABLET RESPONSIVE

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers__box {
    flex-basis: calc((100% - 60px) / 3);
  }
}

// DESKTOP RESPONSIVE

@media screen and (min-width: 1200px) {
  .customers__list {
    flex-wrap: nowrap;
  }
}
