// Nagłówek makiety
.header {
  background-color: $whiteColor;
  border-bottom: 1px solid #ececec;
  padding: 24.54px 0 23.53px;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__menu-contact {
    display: flex;
    gap: 30px;
    fill: currentColor;
  }

  &__menu-contact-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: $supportColor;

    display: flex;
    align-items: center;
    gap: 10px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__menu-contact-item:hover,
  &__menu-contact-item:focus {
    color: $highlightColor;
  }
  // Menu makiety
  &__menu {
    list-style: none;
    display: flex;
    margin-left: 93px;
    gap: 46px;
  }

  &__menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: $mainColor;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__menu-link:hover,
  &__menu-link:focus {
    color: $highlightColor;
  }

  &__menu-link--active {
    position: relative;
    color: $highlightColor;
  }
  &__menu-link--active::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $highlightColor;
    border-radius: 2px;
    top: 43.5px;
  }
}
