// Header makiety
.hero {
  background-color: $backgroundColor;
  padding: 200px 0;

  max-width: 1600px;
  background-image: linear-gradient(to bottom, $heroGradient, $heroGradient),
    url("../images/hero_underlay.jpg");

  &__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $whiteColor;

    max-width: 696px;
    margin: 0 auto;
  }
  &__button {
    @extend %button;
    padding: 10px 41px;
    margin: 0 auto;
  }
}
