// Logo
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: $blackColor;

  &__highlight {
    color: $highlightColor;
  }

  &__color {
    color: $whiteColor;
  }
}
