// Menu mobilne
// MOBILE RESPONSIVE
@media screen and (max-width: 768px) {
  .header__menu,
  .header__menu-contact {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu__toggle {
    display: none;
  }
}

.menu__toggle {
  outline: none;
  border: none;
  background: none;
}

.menu__container {
  height: 100vh;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.18;
}

.mobile__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $whiteColor;
  z-index: 999;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  &.is-open {
    transform: translateX(0);
  }

  &-button {
    fill: $mainColor;
    cursor: pointer;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-button:hover {
    fill: $highlightColor;
  }

  & .menu__toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: $whiteColor;
  }

  &-list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 36px;
  }

  &-item {
    margin-bottom: 32px;
  }

  &-item:last-child {
    margin-bottom: 0;
  }

  &-link {
    font-size: 40px;
    color: $blackColor;
    text-decoration: none;
  }

  &-link:hover {
    color: $highlightColor;
  }

  &-address {
    display: flex;
    flex-direction: column;
  }

  &-phone {
    font-size: 34px;
    color: $highlightColor;
    text-decoration: none;
    margin-bottom: 32px;
  }

  &-mail {
    font-size: 24px;
    color: $supportColor;
    text-decoration: none;

    margin-bottom: 64px;
  }

  &-social {
    list-style: none;
  }

  &-social-item {
    display: inline-block;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    margin-right: 10px;
  }
  &-social-item:last-child {
    border: none;
  }

  &-social-link {
    font-size: 18px;
    line-height: 1.22;
    color: $highlightColor;
    text-decoration: none;
  }
}
