// Nasze atuty
.trumps {
  padding-bottom: 0;

  &__box {
    padding: 25px 100px;
    background-color: $teamColor;
    border-radius: 4px;
    text-align: center;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);

    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--support-color);
  }
}

// TABLET RESPONSIVE

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .trumps__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .trumps__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .trumps__title {
    text-align: left;
  }
}
